$def with (page_data)
<div class="container">
    <div class="row">
        <div class="col-lg-12"><br></div>
    </div>
    <div class="row">
            <div class="form-outline col-sm-6">
                <input type="text" id="log_file_name" class="form-control" name="log_file_name"/>
                <label class="form-label" for="log_file_name">Enter Log File Name</label>
            </div>
            <!-- TODO
            <input type="file" id="log_file" name="log_file"  class="col-lg-3">
            -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <button type="button" class="btn btn-primary" style="width: 200px;" id="btn_log_analyze" >Analyze</button>
        </div>
    </div>
    <div class="row">
        <!-- Analysis summary will be displayed here -->
        <span id="span_analysis_result"></span>
        <input type="file" name="output_file" id="output_file">

        <!-- Output file will be displayed here -->
        <pre id="output_id"></pre>
    </div>
</div>